Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on
RewriteBase /Examen-avanzada/

# Rutas de reescritura de páginas
RewriteRule ^login/?$ index.php [L]
RewriteRule ^home/?$ views/home.php [L]
RewriteRule ^products/?$ views/products/index.php [L]
RewriteRule ^users/?$ views/users/index.php [L]

# Controladores
RewriteRule ^auth/?$ app/AuthController.php [L]
RewriteRule ^products/?$ app/ProductController.php [L]

# Alta de producto
RewriteRule ^products/add-product/?$ views/products/add-product.php [L]

# Editar producto
RewriteRule ^products/edit-product/?$ views/products/edit-product.php [L]

# Lista de presentaciones
RewriteRule ^products/presentation/?$ views/products/presentation.php [L]

# Crear presentaciones
RewriteRule ^products/add-presentation/?$ views/products/add-presentation.php [L]

# Editar presentaciones
RewriteRule ^products/edit-presentation/?$ views/products/edit-presentation.php [L]

# Detalles de presentaciones
RewriteRule ^products/([^/]+)/?$ views/products/details-presentation.php [L]

# Detalles de productos
RewriteRule ^products/([^/]+)/?$ views/products/details.php [L]

# Alta de usuarios
RewriteRule ^users/add-users/?$ views/users/add-users.php [L]

# Editar usuarios
RewriteRule ^users/edit-users/?$ views/users/edit-users.php [L]

# Detalles de usuarrio
RewriteRule ^users/([^/]+)/?$ views/users/details.php [L]
